.main {
    background-color: #f8f9fa;
}

.search{
    margin: 0 auto;
    width:50%;
    border-radius: 2em;
    text-align: center;
}

.navbar {
    background-color: rgb(164, 194, 218);
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.navbar a{
    color:black;
}

.navbar ul {
    padding-right:2em;
}

.info-block {
    text-align: left;
    padding-left:2em;
    padding-right:2em;
}

.card {
    margin-top:1em;
    padding:0em;
    padding-top:2em;
    background-color: white;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.card a {
    color:black;
}

.card a:hover {
    color:rgb(0, 136, 255);
}
.keywords table {
    text-align: left;
}

.keywords ul {
    padding:0em;
}

.keywords button {
    display: inline;
    border-radius: 2em;
    background: #ededed;
    color: #666;
    letter-spacing: 1px;
    margin-bottom:0.5em;
    font-size: 0.75em;
}

.keywords table tr {
    cursor: pointer;
}

.keywords table tr:hover button{
    background-color:rgb(0, 136, 255);
    color: #eee;
}


.profile-img {
    border-radius: 50%;
    width:25%;
    margin: auto;
}

.no-round {
    border-radius: 100%;
}
